@font-face {
    font-family: logoFont;
    src: url(Boldenvandemo-K7dZZ.ttf);
}

body {
	margin: 0;
	background-color: #F8FFF8;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

header {
    padding:20px;
    margin-top: 0px;
	margin-bottom: 20px;
    text-align: center;
}

h1.logo {
    font-family: logoFont;
    color: #71ca71;
}

.menu
{
    margin-top: 20px;
    background-color: #f3eea6;
	padding: 12px;
	font-size: 1.6rem;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.menu a
{
	color: #71ca71;
}

.menu a:hover
{
	color: #299c29;
}

footer
{
  position: fixed;
  bottom: 0px;
  width:100%;
  text-align: center;
}